*venv
*env
**/__pycache__

node_modules
.python-version
.DS_Store

*.out 
**/core/worker_models
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.out
for_tdp
**/.vscode
**/assets/*
**/logs
**/backups
**/temp

data_sheets
test.py
test*.py
.env
.env.local
.env.prod
